<div class="main-container"> 
  <div class="nav-container">
    <ul > 
      <li routerLinkActive="active"><a routerLink ="Home" fragment="Home" > Home</a> </li>
         <li [routerLinkActive]="'active'"><a  [routerLink]="'About'" fragment="About"> About</a> </li>        <!-- this routerLinkActive  signs a class you can add more classes or values -->
            <li [routerLinkActive]="'active'"><a routerLink="Contact"  fragment="Contact"> Contact</a> </li>              <!-- it must be put in li -->
               <li ><a routerLink="Courses"  fragment="Courses"> Courses</a> </li>          
              
               <span style="float: right;"> 
             
                <li (click)="login()"> <a routerLink="Courses"> Login</a></li>
               <li (click)="logout()"> <a routerLink="Courses"> Logout</a></li>
              
              </span>
            </ul>
  
<!--http://localhost:4200/About aboslute route thats why we add a / ,this can be used to go from fx about about to home inside about page -->
  </div>
  <hr style="margin-top:-10-px ;">
<!-- 
     <div class="component-container">
       <app-home id="Home"> </app-home>
       <hr>
      <app-about id="About"></app-about>
      <hr>
      <app-contact id="Contact"></app-contact>
      <hr>
      <app-courses id="Courses"></app-courses>  -->
       <router-outlet></router-outlet>   <!--With this the routes should be working,it basically tells angular where we want to display the view -->
     <!--</div>-->
</div>