<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="nav">
     <div class="icon-container"> 
      <span class="title" style="font-family: mv boli;">ECOMM</span>
        
        <i class="fa-solid fa-cart-shopping  custom-bounce"  style="color: #ffffff; font-size: 21px" ></i>
    </div>
    
 
    <div class="nav-search">

        <input type="text" placeholder="Search Products" #myVariable (keyup)="0">
        <button (click)="youSearched(myVariable)"> Search</button>
       
       
       
    </div>
    <ul style="font-size:18px;"> 
      
        <li><a routerLink=""> Home</a> </li>
        <li><a [routerLink]="'seller-auth'"> Seller</a> </li>
        <li><a href="#"> Login</a> </li>
        <li><a href="#"> Cart (0)</a> </li>
    </ul>

</nav>