<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="nav">
     <div class="icon-container"> 
      <span class="title" style=font-size:33px;color:white>ECOMM</span>
        
        <i class="fa-solid fa-cart-shopping  custom-bounce"  style="color: #ffffff; font-size: 25px" ></i>
    </div>
    
 
    <div class="nav-search">

        <input type="text" placeholder="Search Products" #myVariable (keyup)="0">
        <button (click)="youSearched(myVariable)"> Search</button>
       
       
       
    </div>
    <ul> 
        <li><a href="#"> Seller</a> </li>
        <li><a href="#"> Home</a> </li>
        <li><a href="#"> Login</a> </li>
        <li><a href="#"> Cart(0)</a> </li>
    </ul>

</nav>