
.container{

 width: 200px;
    position: absolute;
    margin-left: 11%;
    margin-top:2.5%;
   
    
}
@media (max-width: 768px) {
  .container {
    width: 200px; /* Narrower sidebar for smaller screens */
    /* You can also adjust other styles as needed for smaller screens */
  }
}
.title{
    font-size:20px;
    
    
}



.sidebar {
    width: 60px;
    left: 0; /* Add this line to align the sidebar to the left */
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    transition: ease-in-out 0.3s;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    z-index: 1; 
   
   
  }
 
  .sidebar:hover{
    width: 200px;

  }
 

  .sidebar:hover>.item>.text{
    opacity: 1;

  }
 

  hr{
    height: 1px;
    color: #919191;
    margin: 10px 0;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 60px 0;
    
    white-space: nowrap;
    color: black;
    font-size: 17px;
    color: black !important;
  }
  .item .text {
    opacity: 0;
    transition: ease-in-out 0.3s;
    transition-delay: 0.2s;
    margin-left: 15px;
    white-space: nowrap;
  }
  
 

  

.nav-search{
   
    display:flex;
    margin-left: 30%;
    margin-top: -19%;
   
  
    justify-content: space-between;
    position: fixed;
    background: white;
    color: black;
   
    border-radius: 12px;

   
   
}
.nav-search input{

     width: 700px;
    
     border: 1px solid rgb(212, 208, 208);
    height: 32.5px;
    
    background: transparent;
     
     color: black;
    
    
  
   
}
.nav-search input::placeholder{
  color: black;
}
.nav-search button{
    width: 72px;
    color: black;
    border: 1px solid rgb(160, 158, 158);
    height: 33px;
     
    background: transparent;
    
    
   
}

.fa-arrow-right-from-bracket {
  transform: rotate(180deg); /* Rotate the logut arrow to the right */
}
