
.container{

 
    position: absolute;
    margin-left: 11%;
    margin-top:2.5%;
    
}
.title{
    font-size:20px;
    
    
}



.sidebar {
    width: 60px;
    left: 0; /* Add this line to align the sidebar to the left */
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    transition: ease-in-out 0.3s;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
   
   
  }
  .sidebar:hover{
    width: 200px;

  }
 

  .sidebar:hover>.item>.text{
    opacity: 1;

  }
 

  hr{
    height: 1px;
    color: #919191;
    margin: 10px 0;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 60px 0;
    
    white-space: nowrap;
    color: black;
    font-size: 17px;
  }
  .item .text {
    opacity: 0;
    transition: ease-in-out 0.3s;
    transition-delay: 0.2s;
    margin-left: 15px;
    white-space: nowrap;
  }
 

  

.nav-search{
   
    display:flex;
    margin-left: 30%;
    margin-top: -8%;
   
  
    justify-content: space-between;
    position: fixed;

   
   
}
.nav-search input{

     width: 700px;
    
     border: 1px solid rgb(248, 246, 246);
    height: 32.5px;
    
    background: transparent;
    color: white;
    
    
    
  
   
}
.nav-search input::placeholder{
    color: white;
}
.nav-search button{
    width: 69px;
    color: rgb(247, 247, 247);
    border: 1px solid rgb(248, 246, 246);
    height: 33px;
     
    background: transparent;
    
    
   
}
.item1 button{
  transition: all 1s;
  cursor: pointer;
}
button:hover{

  color: rgb(255, 255, 255);
  border-radius: 12px;
  
  box-shadow: 32px 32px 37px #e2e2e270;
}
.fa-arrow-right-from-bracket {
  transform: rotate(180deg); /* Rotate the logut arrow to the right */
}