/* You can add global styles to this file, and also import other style files */
/* The global styles defined in this file will be applied across all components and views in your Angular application.*/
body{
    font-family: 'sans-serif';
    background-image: url('assets\Background.jpg');
    background-size: cover;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
    
}