html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   /* fallback for old browsers */
    overflow-x: hidden;
  
  

      background: #121212; /* Set the desired background color */
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      overflow-x: hidden;
      height: 100%;
    
    
 
  
    /* code to make all text unselectable */

  }
  .btn {
    position: relative;
    width: 195px;
    padding: 14px 0px;
    text-align: center;
  
    font-weight: bold;
    margin: 30px 1px;
    margin-left: 9px;
    border: none;
    box-shadow: 0px 0px 15px #201f1f;
    background: #1f1f1f;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px; /* Set a value for border-radius, e.g., 2px */
    transition: background-color 0.5s, color 0.5s; /* Add a transition for smoother effect */
  }
  
  .btn span {
    background: #ffffff;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  .btn:hover {
    color: #1f1f1f;
    background-color: transparent; /* Change the background-color on hover to what you prefer */
  }
  
  .btn:hover span {
    width: 100%;
  }
  



  h1 {
    color: white;
  
    font-size: 35px;
    font-weight: 800;
  }
  
  .flex-container {
    width: 100vw;
  
    margin-top: 60px;
  margin-left: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  
  .content-container {
    width: 500px;
    height: 350px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 420px;
    height: 490px;
  
    margin-top: -3%;
    padding-top: 20px;
  
    border-radius: 16px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    background: #1f1f1f;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.199);
  }
  
  .subtitle {
    font-size: 11px;
  
    color: rgba(177, 177, 177, 0.3);
    
  }
  
  input {
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
  
    margin-bottom: 30px;
    
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  
    height: 35px;
    width: 300px;
  }
  
  .submit-btn {
    cursor: pointer;
  
    border: none;

  
    box-shadow: 2px 2px 7px #38d39f70;
  
    background: #38d39f;
    color: rgba(255, 255, 255, 0.8);
  
    width: 80px;
  
    transition: all 1s;

    border-radius: 18px;
  }
  
  .submit-btn:hover {
    color: rgb(255, 255, 255);
  
    box-shadow: none;
   
  }
  .auth-toogle-link{
    color: blueviolet;
    font-size: 14px;
    margin-top:42px;
    margin: 2px 10px;
    cursor: pointer;
  }
