.container{
    background-color:#f8f8f8;

    
    width: 100%;
    height: 1000px;

    margin-top: 55px;
    

  
}
.text{
    text-align: center;
    margin: 30px;
}
.firstname{
    margin: 0px 0px;
    padding: 50px 30px;
    right: 450px;
}
.firstname  input[type="text"]{
    width: 290px;
    height: 35px;
    background-color: transparent;
    
}
input.firstname::placeholder {
    color: #999; /* Set the text color */
    font-style: italic; /* Add italic style */
    /* Add other styles as needed */
}
.lasttname{
    margin: 0px 0px;
    padding: 0px 30px;
    
}
.lasttname  input[type="text"]{
    width: 290px;
    height: 35px;
    background-color: transparent;
    
}
input.lasttname::placeholder {
    color: #999; /* Set the text color */
    font-style: italic; /* Add italic style */
    /* Add other styles as needed */
}
.Country{
    margin: 0px 0px;
    padding: 50px 30px;
    right: 450px;
}
.Subject{
    margin: 0px 0px;
    padding: 0px 30px;
    display:grid;
    grid-template-columns: (1fr 1fr);
    gap:12%;
    
}
.Subject  input[type="text"]{
    width: 400px;
    height: 250px;
    background-color: transparent;
    
}
input.Subject::placeholder {
    color: #999; /* Set the text color */
    font-style: italic; /* Add italic style */
    /* Add other styles as needed */
}
.submit-btn {
    cursor: pointer;
  
    border: none;
    border-radius: 8px;
  
    box-shadow: 2px 2px 7px #38d39f70;
  
    background: #38d39f;
    color: rgba(255, 255, 255, 0.8);
  
    width: 120px;
    height: 31px;
  
    transition: all 1s;
  }