<div class="container">
  <h2> New In Smart Phones </h2> 

  <div class="more-products">


    <app-product>
       <h4 class="title"> New in Iphone</h4>
       <button class="btn btn-more">Show more Iphone </button>
    </app-product>
   
    <app-product>
       <h4 class="title"> New in Samsung</h4>
      <button class="btn btn-more">Show more Samsung </button>
    </app-product>

    <app-product> 
      <h4 class="title"> New in OnePlus</h4>
      <button class="btn btn-more">Show more OnePlus</button>
    </app-product>
    
    
    <app-product> 
      <h4 class="title"> New in MI</h4>
      <button class="btn btn-more">Show more MI </button>
        </app-product>

  </div>
</div>
