<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

<div class="main">
  


  <div class="main_text">
      <h1>Get the Lates<span>Tech</span><br>in a Easy Way</h1>
  </div>

  <div class="main_image">
      <img src="./assets/Pc.jpg">
  </div>

  

</div>
<div class="text">
  <p><i>  Vi går op i at præsentere opskrifterne på en letforståelig måde, så selv nybegyndere kan følge med. Hver opskrift er nøje gennemprøvet og inkluderer detaljerede trin-for-trin instruktioner samt nyttige tips og tricks, der sikrer succes i køkkenet.
  
    Udover opskrifter tilbyder vi også artikler om madtendenser, ernæring, køkkenudstyr og meget mere. Vores mål er at være en pålidelig kilde til information og inspiration for madentusiaster som dig.</i></p>
  
    <br><br> <br> <br>
    <a href="#Menu" class="main_btn">Order Now  <i  class="fa-sharp fa-solid fa-angle-right"></i></a>
  
  
  </div>
     
  

  <ul class=" wrapper">
      
      
  
      

    <li class="icon facebook">
      <span class="tooltip">Facebook</span>
      <span><i class="fab fa-facebook-f"></i></span>
    </li>

    <li class="icon twitter">
      <span class="tooltip">Twitter</span>
      <span><i class="fab fa-twitter"></i></span>
    </li>
     
    <li class="icon instagram">
      <span class="tooltip">Instagram</span>
      <span><i class="fab fa-instagram"></i></span>
    </li>

    <li class="icon github">
      <span class="tooltip">Github</span>
      <span><i class="fab fa-github"></i></span>
    </li>

    <li class="icon youtube">
      <span class="tooltip">Youtube</span>
      <span><i class="fab fa-youtube"></i></span>
    </li>
  </ul> 


    

  
 <div class="main2"> 
  

  <div class="popular-product">
    <div class="main_text2">
      <h1>Get the Lates <span>Popular</span><br>Products</h1>
  </div>
  
    <ngb-carousel *ngIf="popularProducts">
      <ng-template  *ngFor="let item of popularProducts" ngbSlide style="color: rgb(187, 187, 187);">
        <div class="picsum-img-wrapper">
          <a routerLink="/details/{{item.id}}">  <img [src]="item.Image" alt="" style="width: 590px;"></a>

          </div>
        <div class="carousel-caption">
          <h3>{{item.ProductName}}</h3>
          <p>{{item.Description}}</p>
        </div>


      </ng-template>
    </ngb-carousel>
 
  </div>

 

  <div class="product-wrapper"> 
  <h1>Trendy Products</h1>
  <br><br>
  <div class="row" >  <!-- Bootstrap row  -->
      <div class="col-sm-25" *ngFor="let item2 of trendyProducts"> <!-- it takes 25 precent of the screen -->
         <div class="product-item" >
        <a routerLink="/details/{{item2.id}}"><img [src]="item2.Image" alt=""></a>  

           <div class="product-details">
            <h6 class="name-head">New Apple Product</h6>
            <div class="product-price">
              <h6>Price: {{item2.Price | currency:' Kr'}}</h6>
            </div>
            <div class="product-color">
              <h6>Color: {{item2.Color}}</h6>
            </div>
           </div>
           
           <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add To cart</a>
           </div>

         </div>
      </div>
  </div>
</div>

</div>
</body>
</html>